<a href="https://colab.research.google.com/github/CarlosMassarelli/CarlosMassarelli/blob/main/Numpy_iniciando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
km = np.loadtxt("carros-km.txt")

In [ ]:
km

In [ ]:
anos = np.loadtxt("carros-anos.txt", dtype = int)

In [ ]:
anos

In [ ]:
km_med= km/(2019-anos)

<ipython-input-8-03fddb95f046>:1: RuntimeWarning: invalid value encountered in true_divide
  km_med= km/(2019-anos)

In [ ]:
km_med

In [ ]:
type(km_med)

numpy.ndarray

In [ ]:
2*3

6

In [ ]:
10/3

3.3333333333333335

In [ ]:
10//3 #somente inteiro da divisão

3

In [ ]:
10%3 #somente resto da divisão

1

In [ ]:
2**3

8

In [ ]:
ano_atual = 2019
ano_fabricacao = 2003
km_total = 44410.0

In [ ]:
km_media = km_total / (ano_atual - ano_fabricacao)
km_media

2775.625

In [ ]:
ano_atual = 2019
ano_fabricacao = 2003
km_total = 44410.0
km_media = km_total / (ano_atual - ano_fabricacao)

km_total += km_media

In [ ]:
km_total

47185.625

In [ ]:
#tipos de variáveis e strings

In [ ]:
type(km_total)

float

In [ ]:
nome='Jetta Variant'
nome

'Jetta Variant'

In [ ]:
nome="'Jetta Variant'"
nome

"'Jetta Variant'"

In [ ]:
#criando uma string com linhas 
carro='''
  Nome
  Idade
  Nota
'''
carro

'\n  Nome\n  Idade\n  Nota\n'

In [ ]:
type(carro)

str

In [ ]:
#transformações de dados

In [ ]:
a=10
b=20
c='Python é '
d='legal'
type (a)

int

In [ ]:
type (b)

int

In [ ]:
type (c)

str

In [ ]:
type (d)

str

In [ ]:
str (a)

'10'

In [ ]:
str (b)

'20'

In [ ]:
c+d

'Python élegal'

In [ ]:
c+str(a)

'Python é 10'

In [ ]:
c+d+str(b)

'Python é legal20'

In [ ]:
#identação é obrigatório...

In [ ]:
ano_atual = 2019
ano_fabricacao = 2019

if (ano_atual == ano_fabricacao):
  print ('Verdadeiro')
else:
  print ('falso')

Verdadeiro

In [ ]:
'''isto é um 
comentário logo'''

In [ ]:
#formatação de strings

In [ ]:
print('Olá, {}!'.format('Rodrigo'))

Olá, Rodrigo!

In [ ]:
print('Olá, {}! Este é o seu acesso de número {}'.format('Rodrigo', 32))

Olá, Rodrigo! Este é o seu acesso de número 32

In [ ]:
print('Olá, {nome}! Este é o seu acesso de número {acessos}'.format(nome='Rodrigo', acessos=32))

Olá, Rodrigo! Este é o seu acesso de número 32

In [ ]:
#formatação de strings novo

In [ ]:
mome = 'Rodrigo'
acessos = 32
print(f'Olá, {nome}! Este é o seu acesso de número {acessos}')

Olá, Jetta Variant! Este é o seu acesso de número 32

In [ ]:
#coleção de listas

In [ ]:
Carro_1 = ['Jetta Variant', 'Motor 4.0 Turbo', 2003, 44410.0, False, ['Rodas de liga', 'Travas elétricas', 'Piloto automático'], 88078.64]
Carro_2 = ['Passat', 'Motor Diesel', 1991, 5712.0, False, ['Central multimídia', 'Teto panorâmico', 'Freios ABS'], 106161.94]

In [ ]:
Carro_1

['Jetta Variant',
 'Motor 4.0 Turbo',
 2003,
 44410.0,
 False,
 ['Rodas de liga', 'Travas elétricas', 'Piloto automático'],
 88078.64]

In [ ]:
Carros = [Carro_1, Carro_2]

In [ ]:
Carros

[['Jetta Variant',
  'Motor 4.0 Turbo',
  2003,
  44410.0,
  False,
  ['Rodas de liga', 'Travas elétricas', 'Piloto automático'],
  88078.64],
 ['Passat',
  'Motor Diesel',
  1991,
  5712.0,
  False,
  ['Central multimídia', 'Teto panorâmico', 'Freios ABS'],
  106161.94]]

In [ ]:
'Jetta Variant' in Carros

False

In [ ]:
Acessorios = ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']

In [ ]:
'Rodas de liga' in Acessorios

True

In [ ]:
'Rodas de liga' not in Acessorios

False

In [ ]:
carro = [
    'Jetta Variant', 
    'Motor 4.0 Turbo', 
    2003, 
    44410.0, 
    False, 
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático'], 
    88078.64
]

In [ ]:
'2003' in carro

False

In [ ]:
'False' not in carro

True

In [ ]:
'Rodas de liga' in carro

False

In [ ]:
Acessorios[0]

'Rodas de liga'

In [ ]:
Carros[0]

['Jetta Variant',
 'Motor 4.0 Turbo',
 2003,
 44410.0,
 False,
 ['Rodas de liga', 'Travas elétricas', 'Piloto automático'],
 88078.64]

In [ ]:
Carros[0][1]

'Motor 4.0 Turbo'

In [ ]:
Carros[1:2]

[['Passat',
  'Motor Diesel',
  1991,
  5712.0,
  False,
  ['Central multimídia', 'Teto panorâmico', 'Freios ABS'],
  106161.94]]

In [ ]:
Acessorios.sort()

In [ ]:
Acessorios

['Ar condicionado',
 'Bancos de couro',
 'Piloto automático',
 'Rodas de liga',
 'Sensor crepuscular',
 'Sensor de chuva',
 'Sensor de estacionamento',
 'Travas elétricas']

**Estruturas de Repetição**

In [ ]:
for item in Acessorios:
  print(item)

Ar condicionado
Bancos de couro
Piloto automático
Rodas de liga
Sensor crepuscular
Sensor de chuva
Sensor de estacionamento
Travas elétricas

In [ ]:
range (10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
  print (i ** 2)

0
1
4
9
16
25
36
49
64
81

In [ ]:
quadrado = []
for i in range(10):
  quadrado.append (i**2)
quadrado

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[t**2 for t in range (10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
dados = [ 
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva'],
    ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento'],
    ['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']
]
dados

[['Rodas de liga',
  'Travas elétricas',
  'Piloto automático',
  'Bancos de couro',
  'Ar condicionado',
  'Sensor de estacionamento',
  'Sensor crepuscular',
  'Sensor de chuva'],
 ['Central multimídia',
  'Teto panorâmico',
  'Freios ABS',
  '4 X 4',
  'Painel digital',
  'Piloto automático',
  'Bancos de couro',
  'Câmera de estacionamento'],
 ['Piloto automático',
  'Controle de estabilidade',
  'Sensor crepuscular',
  'Freios ABS',
  'Câmbio automático',
  'Bancos de couro',
  'Central multimídia',
  'Vidros elétricos']]

In [ ]:
for lista in dados: #percorre a lista
    print(lista)

['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva']
['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento']
['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']

In [ ]:
for lista in dados:
  for item in lista:
    print (item)

Rodas de liga
Travas elétricas
Piloto automático
Bancos de couro
Ar condicionado
Sensor de estacionamento
Sensor crepuscular
Sensor de chuva
Central multimídia
Teto panorâmico
Freios ABS
4 X 4
Painel digital
Piloto automático
Bancos de couro
Câmera de estacionamento
Piloto automático
Controle de estabilidade
Sensor crepuscular
Freios ABS
Câmbio automático
Bancos de couro
Central multimídia
Vidros elétricos

In [ ]:
Acessorios = []
for lista in dados:
  for item in lista:
        Acessorios.append(item) #cria uma lista única
print(Acessorios) #lista completa e conjunta

['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva', 'Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento', 'Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']

In [ ]:
list(set(Acessorios)) #listando a lista sem repetições

['Painel digital',
 'Travas elétricas',
 'Piloto automático',
 'Freios ABS',
 '4 X 4',
 'Teto panorâmico',
 'Rodas de liga',
 'Bancos de couro',
 'Central multimídia',
 'Câmbio automático',
 'Câmera de estacionamento',
 'Ar condicionado',
 'Sensor de chuva',
 'Controle de estabilidade',
 'Sensor crepuscular',
 'Vidros elétricos',
 'Sensor de estacionamento']

In [ ]:
list(set([item for lista in dados for item in lista]))

['Painel digital',
 'Travas elétricas',
 'Piloto automático',
 'Freios ABS',
 '4 X 4',
 'Teto panorâmico',
 'Rodas de liga',
 'Bancos de couro',
 'Central multimídia',
 'Câmbio automático',
 'Câmera de estacionamento',
 'Ar condicionado',
 'Sensor de chuva',
 'Controle de estabilidade',
 'Sensor crepuscular',
 'Vidros elétricos',
 'Sensor de estacionamento']

In [ ]:
dados = [ 
    ['A', 'B', 'C'],
    ['D', 'E', 'F'],
    ['G', 'H', 'I']
]

In [ ]:
result_2 = []
for lista in dados:
    result_2 += lista
result_2

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']

Instrução IF

In [ ]:
# 1º item da lista - Nome do veículo
# 2º item da lista - Ano de fabricação
# 3º item da lista - Veículo é zero km?

dados = [
    ['Jetta Variant', 2003, False],
    ['Passat', 1991, False],
    ['Crossfox', 1990, False],
    ['DS5', 2019, True],
    ['Aston Martin DB4', 2006, False],
    ['Palio Weekend', 2012, False],
    ['A5', 2019, True],
    ['Série 3 Cabrio', 2009, False],
    ['Dodge Jorney', 2019, False],
    ['Carens', 2011, False]
]
dados

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [ ]:
zero_km_Y = []

for lista in dados:
  if(lista[2]==True):
    zero_km_Y.append(lista)

zero_km_Y

[['DS5', 2019, True], ['A5', 2019, True]]

In [ ]:
zero_km_N = []

for lista in dados:
  if(lista[2]==False):
    zero_km_N.append(lista)

zero_km_N

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [ ]:
[lista for lista in dados if lista[2] == True]

[['DS5', 2019, True], ['A5', 2019, True]]

In [ ]:
zero_km_Y, zero_km_Y = [], []

for lista in dados:
  if(lista[2]==True):
    zero_km_Y.append(lista)
  else:
    zero_km_N.append(lista)

In [ ]:
zero_km_Y

[['DS5', 2019, True], ['A5', 2019, True]]

In [ ]:
zero_km_N

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False],
 ['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [ ]:
dados

[['Jetta Variant', 2003, False],
 ['Passat', 1991, False],
 ['Crossfox', 1990, False],
 ['DS5', 2019, True],
 ['Aston Martin DB4', 2006, False],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Série 3 Cabrio', 2009, False],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [ ]:
A, B, C = [],[],[]

for lista in dados:
  if (lista[1] <=2000):
    A.append(lista)
  elif(lista[1]>2000 and lista[1]<=2010): #pode 2000 < lista[1] <= 2010
    B.append(lista)
  else:
    C.append(lista)

In [ ]:
A

[['Passat', 1991, False], ['Crossfox', 1990, False]]

In [ ]:
B

[['Jetta Variant', 2003, False],
 ['Aston Martin DB4', 2006, False],
 ['Série 3 Cabrio', 2009, False]]

In [ ]:
C

[['DS5', 2019, True],
 ['Palio Weekend', 2012, False],
 ['A5', 2019, True],
 ['Dodge Jorney', 2019, False],
 ['Carens', 2011, False]]

In [ ]:
import numpy as np

In [ ]:
km = np.loadtxt(fname='carros-km.txt', dtype = int)

In [ ]:
km

array([ 44410,   5712,  37123,      0,  25757,  10728,      0,  77599,
        99197,  37978,  12859,   8052,  89773,      0,  41457, 115607,
        46449,      0,  37086,  15173, 101193,      0,  98079, 102959,
            0,      0,   5795,      0,  58848,  94381,  30163,  53332,
        17720,  33808,  90684,  43975,      0,      0,   5526,      0,
        93415,  40762,      0,  86302,      0,   9755,  69945,   2395,
            0,  80349,  85554,  50496,  67716,  93947,  35345,  81007,
       119513,      0,      0,      0,      0,      0, 118895,  48509,
       100912,  95649,      0,  90495,      0,  29132,  23802,  84992,
        54395,  26731,  44329, 118236, 113808,    610,      0,      0,
        12887,  79607,  90924,  42733,      0,      0, 117714, 113885,
            0,  30511,  74867, 119760,   8356,  64247,  88661,   4539,
       110116,  33215,  92001,      0,  81708,  70641,      0,  91277,
        26544,  52596,  47503,  89056,  28834, 110564,  56638,  17357,
        74015,  15196,      0,  10821,      0,      0,   9595,  99052,
        52389, 119945,  96005,  31639,      0,  80187,      0,  58212,
        61672,  32017,      0,  56944,      0,  86519,   4821, 101025,
        30705,      0,  32555, 103389,      0,  55289,      0,      0,
       115930,  66437,  96800,  14237,  19896, 113045, 114942,   3173,
        83611,  25356,  88634,   2314,   2627,  52034,      0,      0,
        79577, 108201,  76453,  57683,  96610, 109001,  26212,  45971,
        49182,  49907,  38620,  60996,  73914, 107392,   9146,      0,
        17924,      0, 116949,  20476,  52804,   8849,  91724,  32056,
        74886,      0,      0,  52189,  83559,      0,  20328,      0,
        75577,  33659, 104341,  25510,  18965,  87161,   6652,  55738,
            0,      0,      0,  64320,      0,  68678,  71697,      0,
        34783,  33772,  85127,  13606,  35647,  95128,  14046,  41194,
            0,  96100, 103900,  43814,  24638,      0, 110966,  15987,
        53369,  10077,  71544,    107,   8394,  41498, 116002, 100858,
        67475,   8497,   4420,      0,  58537,      0,      0, 112016,
        91840, 112787,      0,      0,   9293,      0,  55083,  48796,
            0,  89685,  85384,  98108,  71280,  27505,  29981,  52637,
         7685,  50188])

In [ ]:
np.dtype

numpy.dtype

In [ ]:
Acessorios = np.array(dados)

In [ ]:
Acessorios

array([['Jetta Variant', '2003', 'False'],
       ['Passat', '1991', 'False'],
       ['Crossfox', '1990', 'False'],
       ['DS5', '2019', 'True'],
       ['Aston Martin DB4', '2006', 'False'],
       ['Palio Weekend', '2012', 'False'],
       ['A5', '2019', 'True'],
       ['Série 3 Cabrio', '2009', 'False'],
       ['Dodge Jorney', '2019', 'False'],
       ['Carens', '2011', 'False']], dtype='<U21')

In [ ]:
km.shape

(258,)

In [ ]:
Acessorios.shape

(10, 3)

In [ ]:
np_array = np.arange(1000000) #com numpy

In [ ]:
py_list = list(range(1000000)) #com python

In [ ]:
%time for _ in range(100): np_array *= 2 #temporizando a execução(performance)

CPU times: user 61.9 ms, sys: 0 ns, total: 61.9 ms
Wall time: 67 ms

In [ ]:
%time for _ in range(100): py_list = [x * 2 for x in py_list] #temporizando a execução(performance)

CPU times: user 9.43 s, sys: 2.95 s, total: 12.4 s
Wall time: 12.5 s

**Operações aritméticas com arrays Numpy**

In [ ]:
km = [44410., 5712., 37123., 0., 25757.]
anos = [2003, 1991, 1990, 2019, 2006]

In [ ]:
# idade = 2019 - anos

In [ ]:
km = np.array([44410., 5712., 37123., 0., 25757.])
anos = np.array([2003, 1991, 1990, 2019, 2006])

In [ ]:
idade = 2019 - anos

In [ ]:
idade

array([16, 28, 29,  0, 13])

In [ ]:
km_media = km/idade

<ipython-input-9-6e6c1cda6d70>:1: RuntimeWarning: invalid value encountered in true_divide
  km_media = km/idade

In [ ]:
km_media

array([2775.625     ,  204.        , 1280.10344828,           nan,
       1981.30769231])

In [ ]:
dados = np.array([km, anos])

In [ ]:
dados

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

In [ ]:
dados.shape

(2, 5)

In [ ]:
dados [0]

array([44410.,  5712., 37123.,     0., 25757.])

In [ ]:
dados[1]

array([2003., 1991., 1990., 2019., 2006.])

In [ ]:
km_media = dados[0] / (2019 - dados[1])
km_media

<ipython-input-17-dac51efab2ed>:1: RuntimeWarning: invalid value encountered in true_divide
  km_media = dados[0] / (2019 - dados[1])

array([2775.625     ,  204.        , 1280.10344828,           nan,
       1981.30769231])

In [ ]:
dados [0,0]

44410.0

In [ ]:
contador = np.arange(10)
contador

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
item = 6
index = item-1
contador[index]

5

In [ ]:
contador [1:4]

array([1, 2, 3])

In [ ]:
contador[1:8:2]

array([1, 3, 5, 7])

In [ ]:
contador [::2]

array([0, 2, 4, 6, 8])

In [ ]:
dados

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

In [ ]:
dados[:,1:3]

array([[ 5712., 37123.],
       [ 1991.,  1990.]])

In [ ]:
dados[:,1:3][0] / (2019 - dados[:,1:3][1])

array([ 204.        , 1280.10344828])

In [ ]:
dados[:, dados[1]>2000]

array([[44410.,     0., 25757.],
       [ 2003.,  2019.,  2006.]])

In [ ]:
dados.shape

(2, 5)

In [ ]:
dados.ndim

2

In [ ]:
dados.size

10

In [ ]:
dados.dtype

dtype('float64')

In [ ]:
dados.T

array([[44410.,  2003.],
       [ 5712.,  1991.],
       [37123.,  1990.],
       [    0.,  2019.],
       [25757.,  2006.]])

In [ ]:
dados.tolist()

[[44410.0, 5712.0, 37123.0, 0.0, 25757.0],
 [2003.0, 1991.0, 1990.0, 2019.0, 2006.0]]

In [ ]:
contador.reshape(5,2)

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [ ]:
contador.reshape((5,2), order='C')

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [ ]:
contador.reshape((5,2), order='F')

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [ ]:
km = [44410, 5712, 37123, 0, 25757]
anos = [2003, 1991, 1990, 2019, 2006]
info_carros = km + anos
info_carros

[44410, 5712, 37123, 0, 25757, 2003, 1991, 1990, 2019, 2006]

In [ ]:
np.array(info_carros).reshape((2,5))

array([[44410,  5712, 37123,     0, 25757],
       [ 2003,  1991,  1990,  2019,  2006]])

In [ ]:
np.array(info_carros).reshape((5,2), order = 'F')

array([[44410,  2003],
       [ 5712,  1991],
       [37123,  1990],
       [    0,  2019],
       [25757,  2006]])

In [ ]:
dados_new = dados.copy()
dados_new

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.]])

In [ ]:
dados_new.resize((3,5))

ValueError: ignored

In [ ]:
dados_new.resize((3,5), refcheck=False)

In [ ]:
dados_new

array([[44410.,  5712., 37123.,     0., 25757.],
       [ 2003.,  1991.,  1990.,  2019.,  2006.],
       [    0.,     0.,     0.,     0.,     0.]])

In [ ]:
dados_new[2]=dados_new[0] / (2019 - dados_new[1])
dados_new

<ipython-input-53-7d8d1e8bf5f4>:1: RuntimeWarning: invalid value encountered in true_divide
  dados_new[2]=dados_new[0] / (2019 - dados_new[1])

array([[44410.        ,  5712.        , 37123.        ,     0.        ,
        25757.        ],
       [ 2003.        ,  1991.        ,  1990.        ,  2019.        ,
         2006.        ],
       [ 2775.625     ,   204.        ,  1280.10344828,            nan,
         1981.30769231]])

In [ ]:
anos = np.loadtxt(fname = "carros-anos.txt", dtype = int)
km = np.loadtxt(fname = "carros-km.txt")
valor = np.loadtxt(fname = "carros-valor.txt")

In [ ]:
anos.shape

(258,)

In [ ]:
dataset = np.column_stack ((anos, km, valor))

In [ ]:
dataset

In [ ]:
dataset.shape

(258, 3)

In [ ]:
np.mean(dataset, axis = 0) #média por coluna...

array([ 2007.51162791, 44499.41472868, 98960.51310078])

In [ ]:
np.mean(dataset[:,1]) #retorna a média da kilometragem

44499.41472868217

In [ ]:
!python -V

Python 3.9.16

**Pandas em Python**

In [ ]:
import pandas as pd

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')
pd.set_option('display.max_rows', 10) #para ver mais linhas
pd.set_option('display.max_columns', 10) #para ver mais colunas
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [ ]:
type (dataset)
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [ ]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info

<bound method DataFrame.info of                       Nome                  Motor   Ano  Quilometragem  \
0            Jetta Variant        Motor 4.0 Turbo  2003        44410.0
1                   Passat           Motor Diesel  1991         5712.0
2                 Crossfox        Motor Diesel V8  1990        37123.0
3                      DS5        Motor 2.4 Turbo  2019            NaN
4         Aston Martin DB4        Motor 2.4 Turbo  2006        25757.0
..                     ...                    ...   ...            ...
253           Phantom 2013               Motor V8  2014        27505.0
254  Cadillac Ciel concept               Motor V8  1991        29981.0
255             Classe GLK  Motor 5.0 V8 Bi-Turbo  2002        52637.0
256       Aston Martin DB5           Motor Diesel  1996         7685.0
257                  Macan        Motor Diesel V6  1992        50188.0

     Zero_km                                         Acessórios      Valor
0      False  ['Rodas de liga', 'Travas elétricas', 'Piloto ...   88078.64
1      False  ['Central multimídia', 'Teto panorâmico', 'Fre...  106161.94
2      False  ['Piloto automático', 'Controle de estabilidad...   72832.16
3       True  ['Travas elétricas', '4 X 4', 'Vidros elétrico...  124549.07
4      False  ['Rodas de liga', '4 X 4', 'Central multimídia...   92612.10
..       ...                                                ...        ...
253    False  ['Controle de estabilidade', 'Piloto automátic...   51759.58
254    False  ['Bancos de couro', 'Painel digital', 'Sensor ...   51667.06
255    False  ['Rodas de liga', 'Controle de tração', 'Câmbi...   68934.03
256    False  ['Ar condicionado', '4 X 4', 'Câmbio automátic...  122110.90
257    False  ['Central multimídia', 'Teto panorâmico', 'Vid...   90381.47

[258 rows x 7 columns]>

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

Tuplas... imutáveis...

In [ ]:
()

()

In [ ]:
1,2,3

(1, 2, 3)

In [ ]:
nome='passat'
valor=15000
(nome, valor)

('passat', 15000)

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nomes_carros)

tuple

In [ ]:
nomes_carros[-1]

'DS5'

In [ ]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nomes_carros[4][2]

'C4'

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
carros[0][3]

False

In [ ]:
carros[-1][-1][-1]

'Freios ABS'

In [ ]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

In [ ]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5
('Fusca', 'Gol', 'C4')

In [ ]:
carro_1, carro_2, carro_3, carro_4, carros_5 = nomes_carros

In [ ]:
carro_2

'Passat'

In [ ]:
_, A, _, B, _=nomes_carros

In [ ]:
A

'Passat'

In [ ]:
_, A, *_=nomes_carros

In [ ]:
A

'Passat'

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
zip(carros, valores)

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(carros, valores):
  print (item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for carro, valor in zip(carros, valores):
  print (carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro, valor in zip(carros, valores):
  if (valor>100000):
    print(carro)

Passat
DS5

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
dados ['Passat']

106161.94

In [ ]:
'Passat' in dados

True

In [ ]:
'Passat' not in dados

False

In [ ]:
len (dados)

3

In [ ]:
dados.update({'Passat': 106161.95, 'Fusca': 150000})

In [ ]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.95,
 'Crossfox': 72832.16,
 'Fusca': 150000}

In [ ]:
dadosCopy = dados.copy()

In [ ]:
dados.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox', 'Fusca'])

In [ ]:
for key in dados.keys():
  print (dados[key])

88078.64
106161.95
72832.16
150000

In [ ]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.95,
 'Crossfox': 72832.16,
 'Fusca': 150000}

In [ ]:
sum(dados.values())

417072.75

In [ ]:
sum?

Funções sem *parâmetros*

In [ ]:
def media():
  valor= (1+2+3)/3
  print(valor)

media()

2.0

Funções com *parâmetros*

In [ ]:
def medias(n1, n2, n3):
  valor=(n1+n2+n3)/3
  print(valor)

In [ ]:
medias(10,5,35)

16.666666666666668

In [ ]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [ ]:
def km_media (dataset, ano_atual):
  for item in dataset.items(): #transforma em tuplas
    result = item [1]['km']/(ano_atual-item[1]['ano'])
    print(result)

In [ ]:
km_media (dados, 2023)

1944.4444444444443
2125.0
2954.5454545454545
4666.666666666667
2583.3333333333335

Funções com *parâmetros* + retorno

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return valor

In [ ]:
resultado = media ([1,2,3,4,5,6,7,8])

In [ ]:
resultado

4.5

In [ ]:
def media(lista):
  valor = sum(lista)/len(lista)
  return (valor, len(lista))

In [ ]:
media ([1,2,3,4,5,6,7,8])

(4.5, 8)

In [ ]:
resultado, n = media ([1,2,3,4,5,6,7,8])

In [ ]:
resultado

4.5

In [ ]:
n

8

In [ ]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({'km_media': int(media)})
        result.update({item[0]:item[1]})
    return result

In [ ]:
km_media(dados, 2023)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 1944},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 2125},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 2954},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 4666},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 2583}}

In [ ]:
5*3

15

In [ ]:
200/(5*4)

10.0

**Trabalhando com pandas...**

In [1]:
import pandas as pd

In [2]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [3]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

In [17]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [18]:
dataset = pd.DataFrame(dados)
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [19]:
dataset = pd.read_csv('db.csv', sep = ';', index_col=0)
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [11]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [12]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })

    return result

In [13]:
km_media(dados, 2019)

{'Crossfox': {'km': 35000, 'ano': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'ano': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'ano': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'ano': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'ano': 1999, 'km_media': 3100.0}}

In [15]:
carros = pd.DataFrame(km_media(dados, 2019)).T

carros

                km     ano  km_media
Crossfox   35000.0  2005.0    2500.0
DS5        17000.0  2015.0    4250.0
Fusca     130000.0  1979.0    3250.0
Jetta      56000.0  2011.0    7000.0
Passat     62000.0  1999.0    3100.0

In [20]:
dataset.head

<bound method NDFrame.head of                                        Motor   Ano  Quilometragem  Zero_km  \
Nome
Jetta Variant                Motor 4.0 Turbo  2003        44410.0    False
Passat                          Motor Diesel  1991         5712.0    False
Crossfox                     Motor Diesel V8  1990        37123.0    False
DS5                          Motor 2.4 Turbo  2019            NaN     True
Aston Martin DB4             Motor 2.4 Turbo  2006        25757.0    False
...                                      ...   ...            ...      ...
Phantom 2013                        Motor V8  2014        27505.0    False
Cadillac Ciel concept               Motor V8  1991        29981.0    False
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002        52637.0    False
Aston Martin DB5                Motor Diesel  1996         7685.0    False
Macan                        Motor Diesel V6  1992        50188.0    False

                                                              Acessórios  \
Nome
Jetta Variant          ['Rodas de liga', 'Travas elétricas', 'Piloto ...
Passat                 ['Central multimídia', 'Teto panorâmico', 'Fre...
Crossfox               ['Piloto automático', 'Controle de estabilidad...
DS5                    ['Travas elétricas', '4 X 4', 'Vidros elétrico...
Aston Martin DB4       ['Rodas de liga', '4 X 4', 'Central multimídia...
...                                                                  ...
Phantom 2013           ['Controle de estabilidade', 'Piloto automátic...
Cadillac Ciel concept  ['Bancos de couro', 'Painel digital', 'Sensor ...
Classe GLK             ['Rodas de liga', 'Controle de tração', 'Câmbi...
Aston Martin DB5       ['Ar condicionado', '4 X 4', 'Câmbio automátic...
Macan                  ['Central multimídia', 'Teto panorâmico', 'Vid...

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 6 columns]>

In [21]:
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [22]:
type(dataset['Valor'])

pandas.core.series.Series

In [32]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [34]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

In [35]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [36]:
dataset.loc[['Passat']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [40]:
dataset.iloc[1:4, [0,5,2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [41]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [42]:
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [45]:
select = dataset.Motor == 'Motor Diesel'

In [46]:
type(select)

pandas.core.series.Series

In [47]:
dataset[select]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Controle de estabilidade', 'Painel digital',...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamento', 'Travas elétricas...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Bancos de couro', 'Câmbio automático', 'Pilo...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Freios ABS', 'Câmera de estacionamento', 'Câ...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Câmera de estacionamento', '4 X 4', 'Travas ...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Teto panorâmico', '4 X 4', 'Bancos de couro'...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimídia', 'Ar condiciona...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Câmbio automático', 'Freios ABS', '...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Bancos de couro', 'Sensor de chuva', 'Ar con...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Freios ABS', 'Teto panorâmico', 'Central mul...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Ar condicionado', 'Sensor de estacionamento'...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Teto panorâmico', 'Câmb...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Controle de tração', 'Ar condicionado', 'Tra...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Controle de tração', 'Piloto automático', 'T...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Controle de tração', 'Sensor de estacionamen...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de chuva', 'Vidros elétricos', 'Contr...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Rodas de liga', 'Sensor crepuscular', 'Ar co...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90

In [50]:
dataset[(dataset.Motor == 'Motor Diesel')&(dataset.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

In [51]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

In [52]:
for item in dataset:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [53]:
dataset.iterrows

<bound method DataFrame.iterrows of                                        Motor   Ano  Quilometragem  Zero_km  \
Nome
Jetta Variant                Motor 4.0 Turbo  2003        44410.0    False
Passat                          Motor Diesel  1991         5712.0    False
Crossfox                     Motor Diesel V8  1990        37123.0    False
DS5                          Motor 2.4 Turbo  2019            NaN     True
Aston Martin DB4             Motor 2.4 Turbo  2006        25757.0    False
...                                      ...   ...            ...      ...
Phantom 2013                        Motor V8  2014        27505.0    False
Cadillac Ciel concept               Motor V8  1991        29981.0    False
Classe GLK             Motor 5.0 V8 Bi-Turbo  2002        52637.0    False
Aston Martin DB5                Motor Diesel  1996         7685.0    False
Macan                        Motor Diesel V6  1992        50188.0    False

                                                              Acessórios  \
Nome
Jetta Variant          ['Rodas de liga', 'Travas elétricas', 'Piloto ...
Passat                 ['Central multimídia', 'Teto panorâmico', 'Fre...
Crossfox               ['Piloto automático', 'Controle de estabilidad...
DS5                    ['Travas elétricas', '4 X 4', 'Vidros elétrico...
Aston Martin DB4       ['Rodas de liga', '4 X 4', 'Central multimídia...
...                                                                  ...
Phantom 2013           ['Controle de estabilidade', 'Piloto automátic...
Cadillac Ciel concept  ['Bancos de couro', 'Painel digital', 'Sensor ...
Classe GLK             ['Rodas de liga', 'Controle de tração', 'Câmbi...
Aston Martin DB5       ['Ar condicionado', '4 X 4', 'Câmbio automátic...
Macan                  ['Central multimídia', 'Teto panorâmico', 'Vid...

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 6 columns]>

In [56]:
for index, row in dataset.iterrows():
  if(2019-row['Ano'] != 0):
    dataset.loc[index, 'km_media']=row['Quilometragem']/(2019-row['Ano'])
  else:
    dataset.loc[index, 'km_media']=0
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2775.625000
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,204.000000
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1280.103448
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1981.307692
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,5501.000000
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,1070.750000
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,3096.294118
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,334.130435
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1858.814815

In [58]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   km_media       258 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(2)
memory usage: 22.5+ KB

In [59]:
dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [60]:
dataset[dataset.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [62]:
dataset.fillna(0, inplace=True)

In [63]:
dataset.query('Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,km_media
Nome,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0
...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0

In [66]:
dataset = pd.read_csv('db.csv', sep = ';')