<a href="https://colab.research.google.com/github/CarlosMassarelli/CarlosMassarelli/blob/main/Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Testando códigos com Pandas

## ** Testando códigos com Pandas**

## Series

In [2]:
import pandas as pd

In [3]:
data = [1,2,3,4,5]
s=pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
index = ['linha'+str(i) for i in range(5)]
index

['linha0', 'linha1', 'linha2', 'linha3', 'linha4']

In [5]:
s=pd.Series(data=data, index=index)
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [6]:
data= {'linha'+str(i):i+1 for i in range(5)}
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [7]:
s=pd.Series(data)
s

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [8]:
s2=s+2
s2

linha0    3
linha1    4
linha2    5
linha3    6
linha4    7
dtype: int64

## Data Frames

In [9]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
df1 =pd.DataFrame(data= data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [11]:
index = ['linha'+str(i) for i in range (3)]
index

['linha0', 'linha1', 'linha2']

In [12]:
df1 = pd.DataFrame(data = data, index = index)
df1

        0  1  2
linha0  1  2  3
linha1  4  5  6
linha2  7  8  9

In [13]:
columns = ['coluna'+str(i) for i in range (3)]
columns

['coluna0', 'coluna1', 'coluna2']

In [14]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)
df1

        coluna0  coluna1  coluna2
linha0        1        2        3
linha1        4        5        6
linha2        7        8        9

In [15]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [16]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]