<a href="https://colab.research.google.com/github/CarlosMassarelli/CarlosMassarelli/blob/main/XPE_Estudando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Estudos em Python... XPE**

In [1]:
nome='carlos'
print('olá ', nome, 'seja bem-vindo!')

olá  carlos seja bem-vindo!

In [2]:
#alguns testes
limiar=5

menores=[]#cria lista menores
maiores=[]#cria lista maiores

#divide os numeros de 1 a 10 em maiores e menores
for i in range(10):
  if (i<limiar):
    menores.append(i)
  elif (i>limiar):
    maiores.append(i)

#imprime valores das listas
print('Resultado final')
print('menores:', menores)
print('maiores:', maiores)

Resultado final
menores: [0, 1, 2, 3, 4]
maiores: [6, 7, 8, 9]

In [3]:
#codigos diversos
x=4
if x>5:
  x *=2
print (x) #mostra que a identação é significativa.

print('fim')

4
fim

In [4]:
z='''Veja que coisa interessante
       vamos fazer uma coisa "nova"
       com vários 'tipos' de dados e, várias
               informações'''
print(z)

Veja que coisa interessante
       vamos fazer uma coisa "nova"
       com vários 'tipos' de dados e, várias
               informações

In [5]:
x=10
print(type(x))

<class 'int'>

In [6]:
type(x)

int

In [7]:
y='palavra'
t=3.59
u=True
v=None
print(type(y))
print(type(t))
print(type(u))
print(type(v))

<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [8]:
x=5
y=1
s='teste'

print('x>y:', x>(y+2))
print('x<=4.564:', x<=(4.564+1))
print('s==teste:', s!='teste')
print('(y*0==false:', (y*0)==False)
print('s!=teste1:', s!='teste1')

x>y: True
x<=4.564: True
s==teste: False
(y*0==false: True
s!=teste1: True

Operador de Acesso das Strings

In [9]:
palavra='consolação'

#indice positivos
print('VALORES POSITIVOS')
print('primeiro caracter:', palavra[0])
print('segundo caracter:', palavra[1])
print('terceiro caracter:', palavra[2])
print('quarto caracter:', palavra[3])
print('sétimo caracter:', palavra[8])
print('último caracter:', palavra[9])

print('')

#indice negativos
print('VALORES NEGATIVOS')
print('primeiro caracter:', palavra[-10])
print('segundo caracter:', palavra[-9])
print('terceiro caracter:', palavra[-8])
print('quarto caracter:', palavra[-7])
print('sétimo caracter:', palavra[-2])
print('último caracter:', palavra[-1])

print('')

#faixa de itens
print('de 0 a 3:', palavra[0:4])
print('de 7 ao final:', palavra[7:])

VALORES POSITIVOS
primeiro caracter: c
segundo caracter: o
terceiro caracter: n
quarto caracter: s
sétimo caracter: ã
último caracter: o

VALORES NEGATIVOS
primeiro caracter: c
segundo caracter: o
terceiro caracter: n
quarto caracter: s
sétimo caracter: ã
último caracter: o

de 0 a 3: cons
de 7 ao final: ção

In [10]:
s1 = 'Belo'
s2 = 'Horizonte'
# Concatenação (+)
print(s1 + s2)
print(s1 + ' ' + s2)
print(s1 + ' Monte')
# Repetição
print(s1 * 5)
print((s1 + ', ') * 4)

BeloHorizonte
Belo Horizonte
Belo Monte
BeloBeloBeloBeloBelo
Belo, Belo, Belo, Belo,

In [11]:
len(palavra)

10

In [12]:
s1 = 'Belo Horizonte'
s2 = 'Esta é uma frase, com uma vírgula.'
print(s1.upper()) # todas as letras maiúsculas
print(s1.lower()) # todas as letras minúsculas
print(s2.title()) # primeira letra de cada palavra em maísculo
print(s1.replace('Horizonte', 'Monte')) # substitui 'Horizonte' por 'Monte'
print(s1.startswith('Belo')) # verifica se a string começa com 'Belo'
print(s1.endswith('Monte')) # verifica se a string termina com 'Monte'
print(s2.find('frase')) # retorna o índice da primeira ocorrência da palavra frase
print(s2.split()) # particiona a string em outras, que são separadas por um espaço
print(s2.split(',')) # particiona a string em outras, que são separadas por ','
s3 = ' palavra com espaços '
print(s3.strip()) # remove os espaços extras no início e fim da string

BELO HORIZONTE
belo horizonte
Esta É Uma Frase, Com Uma Vírgula.
Belo Monte
True
False
11
['Esta', 'é', 'uma', 'frase,', 'com', 'uma', 'vírgula.']
['Esta é uma frase', ' com uma vírgula.']
palavra com espaços

##Conversão de tipo de dados.

In [13]:
nascimento=1998
ano_atual=2023
idade=ano_atual-nascimento
print('Eu tenho '+str(idade)+' anos')

Eu tenho 25 anos

In [14]:
#conversão do tipo int
print(float(10)) # 10.0
print(bool(-1)) # True
print(bool(0)) # False
#conversão do tipo float
print(int(9.999)) # 9
print(bool(-0.99)) # True
print(str(-0.99)) # '-0.99'
#conversão do tipo bool
print(int(True)) # 1
print(float(False)) # 0.0
print(str(True)) # 'True'
#conversão do tipo str
print(int('-99')) # 99
print(float('0.01')) # 0.00001
print(bool('palavra')) # True
print(bool('')) # False

x= 10
print('Valor:', x, '--', type(x))
# atribuição do valor None à variável x
x = None
print('Valor:', x, '--', type(x))

10.0
True
False
9
True
-0.99
1
0.0
True
-99
0.01
True
False
Valor: 10 -- <class 'int'>
Valor: None -- <class 'NoneType'>

In [15]:
print(f'Eu tenho {idade} anos')

Eu tenho 25 anos

In [16]:
print(f'Eu tenho {ano_atual-nascimento} anos')

Eu tenho 25 anos

In [17]:
palavra

'consolação'

In [18]:
print(f'A palavra {palavra.upper()} possui {len(palavra)} letras')

A palavra CONSOLAÇÃO possui 10 letras

In [19]:
orcamento = 4005
vlr_gasto = 430
pct = (vlr_gasto/orcamento) * 100
print(f'Porcentagem já gasta do orçamento: {pct:.2f}%')
print(f'Porcentagem já gasta do orçamento: {pct:.2%}')# cuidado com as transformações

Porcentagem já gasta do orçamento: 10.74%
Porcentagem já gasta do orçamento: 1073.66%

##Testes de condição

In [20]:
# Exemplo em que a condição é verdadeira
idade=16

if idade >=18:
  print('Idade suficiente para CHH!')
else:
  print('Idade não suficiente para CNH!')

Idade não suficiente para CNH!

In [21]:
# verifica aptidão para se aposentar
idade=50
tempo_contrib=38
if idade>=65:
  print('Habilitado para aposentadoria por idade!')
elif tempo_contrib >=35:
  print('Habilidado para aposentadoria por tempo de contribuição!')
else:
  print('Não hapto para aposentadoria!')

Habilidado para aposentadoria por tempo de contribuição!

Estruturas de repetição

In [22]:
n=15
soma=0
contador=0

while contador <=n:
  soma+=contador
  contador=contador+1

print(f'A soma dos primeiros {n} inteiros é {soma}')

A soma dos primeiros 15 inteiros é 120

In [23]:
p='araraquara'
contador=0
for letra in p:
  if letra=='a':
    contador=contador+1
print(f"A palavra{p} possuí {contador} letras'a'")

A palavraararaquara possuí 5 letras'a'

In [24]:
# 0, 1, 2, 3, 4
range(5)
# 3, 4, 5, 6, 7
range(3, 8)
# 0, 5, 10, 15, 20
range(0, 21, 5)
# 2, 4, 6, 8
range(2, 10, 2)

range(2, 10, 2)

In [25]:
n=15
soma=0
for num in range(n+1):
  soma=soma+num
print(f'A soma dos primeiros {n} inteiros é {soma}')

A soma dos primeiros 15 inteiros é 120

In [26]:
# encontra o primeiro número divisível
for num in range(250,301):
  #verifica se o número é divisível por 21
  if num%21==0:
    print(f'Numero encontrado: {num}')
    #se form divisível por 21, interrompe a busca
    break

Numero encontrado: 252

##Estrutura de Dados...

### LISTAS

In [27]:
## tipos não-primitivos de dados
# LISTAS

A=[2,3,5,7]
A

[2, 3, 5, 7]

In [28]:
#Lista com valores heterogêneos
B=[2, 'a', 5.44, True]
B

[2, 'a', 5.44, True]

In [29]:
# Listas com outras listas dentro (listas aninhadas)
l = [0, 1]
C=[l, 'dois', 'três', [4, 5], 'seis']
C

[[0, 1], 'dois', 'três', [4, 5], 'seis']

In [30]:
# Lista vazia
l = []
print(l)

[]

In [31]:
lista = [2, 'a', 5.44, True, None, 'casa']
# acesso por índices
print(lista[0])
print(lista[3])
print(lista[-1])
# acesso por slices
print(lista[1:4])
print(lista[-2:])
print(lista[:])

2
True
casa
['a', 5.44, True]
[None, 'casa']
[2, 'a', 5.44, True, None, 'casa']

In [32]:
#busca o maior valor dentro de uma lista
# cria uma lista para armazenar as 10 idades
idades = [27, 49, 12, 67, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 18]

#inicia o primeiro como maior idade
#neste caso a iteração irá varrer a lista fazendo uma compraração simples entre os valres
maior_idade = idades[0]

#itera a lista para verificar a maior idade
for idade in idades:
  if idade>maior_idade:
    maior_idade = idade

#exibe a maior idade encontrada
print('Maior idade:',maior_idade)

Maior idade: 84

In [33]:
#adicionando itens à lista
idades.append(37)
idades

[27, 49, 12, 67, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 18, 37]

In [34]:
# Altera o valor do quarto e o do penúltimo elemento
idades[3]=13
idades[-2]=19
idades

[27, 49, 12, 13, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 19, 37]

In [35]:
# Remove a primeira ocorrência do elemento 22
idades.append(22)
#para evitar erros inserimos o 22 antes de excluir.
idades.remove(22)
idades

[27, 49, 12, 13, 21, 32, 18, 45, 84, 53, 56, 80, 35, 19, 37, 22]

In [36]:
idades

[27, 49, 12, 13, 21, 32, 18, 45, 84, 53, 56, 80, 35, 19, 37, 22]

In [37]:
l1 = [30, 10, 20]
l2 = [2, 'a', 5.44, True]

#operações de concatenação +, repetição * e filiação in
print(l1 + l2)
print(l1 * 3)
print(10 in l1)
print(10 in l2)

[30, 10, 20, 2, 'a', 5.44, True]
[30, 10, 20, 30, 10, 20, 30, 10, 20]
True
False

In [38]:
# Funções úteis
print(len(l2)) # len: retorna a quantidade de elementos da lista.
print(sum(l1)) # sum: retorna a soma dos elementos de uma lista.
print(max(l1)) # max: retorna o maior elemento da lista (!!!!)

4
60
30

In [39]:
# Métodos que alteram os valores internos da lista
l2.reverse() # reverse: inverte a ordem dos elementos
print(l2)
l1.extend([10, 20, 30, 40, 10]) # extend: adiciona elementos de outra sequência
print(l1)
l1.sort() # sort: ordena os valores da lista
print(l1)
l2.insert(2, 'novo valor') # insert: adiciona um elemento em um índice especifico
print(l2)
l2.pop() # pop: remove o último elemento da lista
print(l2)
l2.clear() # clear: limpa a lista, removendo todos os elementos
print(l2)

[True, 5.44, 'a', 2]
[30, 10, 20, 10, 20, 30, 40, 10]
[10, 10, 10, 20, 20, 30, 30, 40]
[True, 5.44, 'novo valor', 'a', 2]
[True, 5.44, 'novo valor', 'a']
[]

In [40]:
# Métodos que retornam valores e não alteram a lista
print(l1.index(40)) # index: retorna o índice da primeira ocorrência do elemento
print(l1.count(10)) # count: conta as ocorrências do elemento

7
3

In [41]:
#refazendo a busca de forma mais eficiente
print("Elementos da lista 'idade':", format(idades))
print('Maior idade:', max(idades))

Elementos da lista 'idade': [27, 49, 12, 13, 21, 32, 18, 45, 84, 53, 56, 80, 35, 19, 37, 22]
Maior idade: 84

## Tuplas

In [42]:
# Criação de uma tupla homogênea
tupla = (0, 1, 2, 3, 4)
print(tupla)
# Tupla heterogênea
tupla2 = (2, 'a', 5.44, True, None)
print(tupla2)
# Tupla vazia
tupla3 = ()
print(tupla3)
# acesso por índices
print(tupla[0])
print(tupla[3])
print(tupla[-1])
# acesso por slices
print(tupla2[1:4])
print(tupla2[-2:])
print(tupla2[:])

(0, 1, 2, 3, 4)
(2, 'a', 5.44, True, None)
()
0
3
4
('a', 5.44, True)
(True, None)
(2, 'a', 5.44, True, None)

In [43]:
t1 = (30, 10, 20)
t2 = (2, 'a', 5.44, True)
# Operações de concatenação (+), repetição (*) e filiação (in)
print(t1 + t2)
print(t1 * 3)
print(10 in t1)
# Funções úteis
print(len(t2)) # len: retorna a quantidade de elementos da tupla
print(min(t1)) # min: retorna o menor elemento da tupla
print(max(t1)) # max: retorna o maior elemento da tupla
print(sum(t1)) # sum: retorna a soma dos elementos da tupla
# Métodos que retornam valores
print(t1.index(20)) # index: retorna o índice da primeira ocorrência do elemento
print(t2.count('a')) # count: conta as ocorrências do elemento

(30, 10, 20, 2, 'a', 5.44, True)
(30, 10, 20, 30, 10, 20, 30, 10, 20)
True
4
10
30
60
2
1

## Conjuntos

In [44]:
# Criação de um conjunto homogêneo
c1 = {3, 0, 1, 4, 3}
print(c1)
# Criação do mesmo conjunto, porém com uma ordenação diferente dos itens
c2 = {2, 1, 4, 3, 0}
print(c2)
# Conjunto heterogêneo
c3 = {2, 'a', 5.44, True, None}
print(c3)

{0, 1, 3, 4}
{0, 1, 2, 3, 4}
{None, True, 2, 5.44, 'a'}

In [45]:
# Criação dos conjuntos A e B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print('A:', A)
print('B:', B)

A: {1, 2, 3, 4, 5}
B: {4, 5, 6, 7, 8}

In [46]:
# Operação de União: (A ∪ B)
print('A|B=>', A|B)
print('A.union(B)=>',A.union(B))

A|B=> {1, 2, 3, 4, 5, 6, 7, 8}
A.union(B)=> {1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
# Operação de Interseção: (A ∩ B)
print('A&B=>',A&B)
print('A.intersection(B)=>',A.intersection(B))

A&B=> {4, 5}
A.intersection(B)=> {4, 5}

In [48]:
# Operação de Diferença: (A - B) e (B - A)
print('A - B =>', A - B)
print('A.difference(B) =>', A.difference(B))
print('B - A =>', B - A)
print('B.difference(A) =>', B.difference(A))

A - B => {1, 2, 3}
A.difference(B) => {1, 2, 3}
B - A => {8, 6, 7}
B.difference(A) => {8, 6, 7}

In [49]:
# Criação dos conjuntos A e B
c1 = {1, 2, 3, 4, 5}
c2 = {4, 5}
c3 = {91, 92, 93}
# Adiciona um elemento ao conjunto
c1.add(6)
print(c1)
# Adiciona os elementos de uma sequência iterável
c1.update([2, 4, 6, 8])
print(c1)
# Descarta um elemento do conjunto,
c1.discard(8)
print(c1)
# Diferentemente do set.remove(), o discard não gera um erro
# se o elmento a ser removido não existir
c1.discard(99)
print(c1)
# Verifica se os conjuntos são disjuntos, ou seja,
# se não possuem nenhum elemento em comum
print(c1.isdisjoint(c2))
print(c1.isdisjoint(c3))
# Verifica se o conjunto é subconjunto de outro
print(c1.issubset(c2))
print(c2.issubset(c1))
# Verifica se o conjunto contém outro conjunto (superset)
print(c1.issuperset(c2))
print(c2.issuperset(c1))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 8}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
False
True
False
True
True
False

In [50]:
# Criação das listas de alunos das turmas
ING = ['Gabriel', 'Caio', 'Maria', 'Ana', 'Juliano', 'Flávia', 'Rubens', 'Bruna']
ESP = ['Caio', 'Artur', 'Beatriz', 'Carolina', 'Maria', 'Juliano', 'Bruna', 'Rui']
FRA = ['Pedro', 'Bruna', 'Paula', 'Tiago', 'Maria', 'Flávia', 'Rui', 'Carolina']

In [51]:
# Concatenação de todas as listas de alunos
ALL = ING + ESP + FRA

In [52]:
# Exibição do resultado
print('Relação de todos os alunos da escola:')
print(ALL)

Relação de todos os alunos da escola:
['Gabriel', 'Caio', 'Maria', 'Ana', 'Juliano', 'Flávia', 'Rubens', 'Bruna', 'Caio', 'Artur', 'Beatriz', 'Carolina', 'Maria', 'Juliano', 'Bruna', 'Rui', 'Pedro', 'Bruna', 'Paula', 'Tiago', 'Maria', 'Flávia', 'Rui', 'Carolina']

In [53]:
# Criação dos conjuntos de alunos das turmas
ING = {'Gabriel', 'Caio', 'Maria', 'Ana', 'Juliano', 'Flávia', 'Rubens', 'Bruna'}
ESP = {'Caio', 'Artur', 'Beatriz', 'Carolina', 'Maria', 'Juliano', 'Bruna', 'Rui'}
FRA = {'Pedro', 'Bruna', 'Paula', 'Tiago', 'Maria', 'Flávia', 'Rui', 'Carolina'}

In [54]:
# Operação de união dos conjuntos (união dos alunos de todas as turmas)
# Também poderia ser: ALL = ING.union(ESP).union(FRA)
ALL = ING | ESP | FRA

In [55]:
# Exibição do resultado
print('Relação de todos os alunos da escola:')
print(ALL)

Relação de todos os alunos da escola:
{'Juliano', 'Artur', 'Ana', 'Caio', 'Rubens', 'Rui', 'Gabriel', 'Carolina', 'Beatriz', 'Pedro', 'Tiago', 'Paula', 'Maria', 'Flávia', 'Bruna'}

In [56]:
# Usando operadores para identificar os alunos que fazem +1 curso
ING_ESP=ING.intersection(ESP)
ING_FRA=ING.intersection(FRA)
ESP_FRA=ESP.intersection(FRA)
ING_ESP_FRA=ING & FRA & ESP
print('A relação dos alunos que fazem inglês x espanhol:', format (ING_ESP))
print('A relação dos alunos que fazem inglês x francês:', format (ING_FRA))
print('A relação dos alunos que fazem espanhol x francês:', format (ESP_FRA))
print('A relação dos alunos que fazem espanhol x francês x inglês:', format (ING_ESP_FRA))

A relação dos alunos que fazem inglês x espanhol: {'Bruna', 'Juliano', 'Maria', 'Caio'}
A relação dos alunos que fazem inglês x francês: {'Bruna', 'Maria', 'Flávia'}
A relação dos alunos que fazem espanhol x francês: {'Bruna', 'Rui', 'Maria', 'Carolina'}
A relação dos alunos que fazem espanhol x francês x inglês: {'Bruna', 'Maria'}

In [57]:
# 1 – Interseção entre os pares de turmas: (ING & ESP), (ING & FRA) e (ESP & FRA)
# 2 – Calcula a união das interseções
ALUNOS_DESCONTO = (ING & ESP) | (ING & FRA) | (ESP & FRA)
# Exibição do resultado
print('Relação de dos alunos com desconto:')
print(ALUNOS_DESCONTO)

Relação de dos alunos com desconto:
{'Juliano', 'Caio', 'Rui', 'Maria', 'Flávia', 'Bruna', 'Carolina'}

## Dicionários

In [58]:
#Dicionário onde as chaves são do tipo string
d1 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
print(d1)
# Dicionário onde as chaves são do tipo inteiro
d2 = {2: 'dois', 1: 'um', 4: 'quatro', 3: 'três', 0: 'zero'}
print(d2)
# Dicionário com chaves de tipos mistos
d3 = {2: 'a', 5.44: True, 'key': None}
print(d3)
# Dicionário vazio
d4 = {}
print(d4)

{'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
{2: 'dois', 1: 'um', 4: 'quatro', 3: 'três', 0: 'zero'}
{2: 'a', 5.44: True, 'key': None}
{}

In [59]:
# Criação dos dicionários
d1 = {2: 'dois', 1: 'um', 4: 'quatro', 3: 'três', 0: 'zero'}
d2 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
# Acesso aos elementos
print(d1[0])
print(d1[2])
print(f'Meu nome é {d2["nome"]} e tenho {d2["idade"]} anos')

zero
dois
Meu nome é Antônio e tenho 36 anos

In [61]:
# Criação do dicionário
d1 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
# Acesso por meio do operador []
print(d1['endereço'])

KeyError: ignored

In [62]:
# Acesso por meio do método get()
print(d1.get('endereço'))

None

In [63]:
# Criação do dicionário
d1 = {'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
print(d1)
# Atualização do valor da chave 'nome'
d1['nome'] = 'Antônio Carlos'
print(d1)
# Adição da chave 'endereço'
d1['endereço'] = 'Rua 123'
print(d1)

{'nome': 'Antônio', 'idade': 36, 'sexo': 'masculino'}
{'nome': 'Antônio Carlos', 'idade': 36, 'sexo': 'masculino'}
{'nome': 'Antônio Carlos', 'idade': 36, 'sexo': 'masculino', 'endereço': 'Rua 123'}

In [ ]:
# Cria o dicionário
d1 = {'zero': 0, 'um': 1, 'dois': 2, 'três': 3, 'quatro': 4}
print(d1)
# Encontra a maior e menor chave
print('Maior e menor chave:', max(d1), min(d1))
# Adiciona elementos de um outro dicionario
d1.update({'cinco': 5, 'seis': 6})
print(d1)
# Verifica se o dicionário possui as seguintes chaves
print("A chave 'dois' está no dicionário?", 'dois' in d1)
print("A chave 'cinco' não está no dicionário?", 'dois' in d1)
# Remove o elemento com chave 'zero'
d1.pop('zero')
print(d1)

In [64]:
# Cria o dicionário
d1 = {'zero': 0, 'um': 1, 'dois': 2, 'três': 3, 'quatro': 4}
# Itera sobre as chaves
for key in d1:
  if key == 'três':
    print('Chave três encontrada!')
for key in d1.keys():
  if key == 'dez':
    print('Chave dez encontrada!')
  else:
    print('Não encontrou chave dez pela consulta nas chaves')
# Itera sobre os valores
soma = 0
for value in d1.values():
  soma = soma + value
  print('Soma dos valores do dicionário:', soma)
# Itera sobre os itens
for key, value in d1.items():
  print(key, value)

Chave três encontrada!
Não encontrou chave dez pela consulta nas chaves
Não encontrou chave dez pela consulta nas chaves
Não encontrou chave dez pela consulta nas chaves
Não encontrou chave dez pela consulta nas chaves
Não encontrou chave dez pela consulta nas chaves
Soma dos valores do dicionário: 0
Soma dos valores do dicionário: 1
Soma dos valores do dicionário: 3
Soma dos valores do dicionário: 6
Soma dos valores do dicionário: 10
zero 0
um 1
dois 2
três 3
quatro 4

Observe que o número de verificações é o número de linhas do "não encontrou"

##Funções

In [66]:
# define as listas com os números a serem somados
l1 = [1, 2, 3, 4, 5]
l2 = [3, 1, 5, 9, 0, 8, 2, 3, 4]
l3 = [12, 43, 23, 12, 789]
# itera sobre cada lista e soma seus elementos
soma_l1 = 0
for item in l1:
  soma_l1 = soma_l1 + item
soma_l2 = 0
for item in l2:
  soma_l2 = soma_l2 + item
soma_l3 = 0
for item in l3:
  soma_l3 = soma_l3 + item
# exibe os resultados
print(f'Resultado: l1={soma_l1}, l2={soma_l2}, l3={soma_l3}')

Resultado: l1=15, l2=35, l3=879

In [67]:
# define as listas com os números a serem somados
l1 = [1, 2, 3, 4, 5]
l2 = [3, 1, 5, 9, 0, 8, 2, 3, 4]
l3 = [12, 43, 23, 12, 789]
# declaraca a função que soma os elementos da lista
def soma_lista(lista):
  soma = 0
  for item in lista:
    soma = soma + item
  return soma
# chama a função para cada lista
soma_l1 = soma_lista(l1)
soma_l2 = soma_lista(l2)
soma_l3 = soma_lista(l3)
print(f'Resultado: l1={soma_l1}, l2={soma_l2}, l3={soma_l3}')

Resultado: l1=15, l2=35, l3=879

In [68]:
# exibe mensagem de boas vindas à uma pessoa
def boas_vindas(nome):
  print(f'Olá {nome}. Seja bem-vindo (a)!')
# calcula a área de um quadrado: l x l
def area_quadrado(lado):
  return lado * lado
# calcula a área de um triângulo: (b x h) / 2
def area_triangulo(base, altura):
  return (base * altura)/2
# Realiza as chamadas das funções
boas_vindas('Priscila')
print(area_triangulo(4, 5))
boas_vindas('Maria')
boas_vindas('Joana')
print(area_quadrado(4))
print(area_quadrado(10))
boas_vindas('Antônio')
print(area_quadrado(10))
print(area_triangulo(5, 2))
print(area_triangulo(4, 5))

Olá Priscila. Seja bem-vindo (a)!
10.0
Olá Maria. Seja bem-vindo (a)!
Olá Joana. Seja bem-vindo (a)!
16
100
Olá Antônio. Seja bem-vindo (a)!
100
5.0
10.0

In [69]:
# Realiza uma divisão. Se o divisor é zero, retorna uma mensagem de erro.
def div(dividendo, divisor):
  if divisor == 0:
    print('ERRO: Divisor igual à zero!')
    return
  return dividendo / divisor
# Função similar à função div, mas que retorna o dividendo e o resto da divisão.
def div_qr(dividendo, divisor):
  if divisor == 0:
    print('ERRO: Divisor igual à zero!')
    return
  quociente = dividendo // divisor
  resto = dividendo % divisor
  return (quociente, resto)
print('div(10, 4) ==>', div(10, 4)) # dividento=10 e divisor=4
print('div_qr(10, 4) ==>', div_qr(10, 4)) # dividento=10 e divisor=4
print('div(10, 0) ==>', div(10, 0)) # dividento=10 e divisor=0

div(10, 4) ==> 2.5
div_qr(10, 4) ==> (2, 2)
ERRO: Divisor igual à zero!
div(10, 0) ==> None

In [70]:
print('div(10, 0) ==>', div(10, 0)) # dividendo=10 e divisor=0

ERRO: Divisor igual à zero!
div(10, 0) ==> None

In [71]:
# atribuição dos múltiplos valores em uma variável única do tipo tupla
resultado = div_qr(21, 5)
print('resultado:', resultado, type(resultado))
# atribuição dos múltiplos valores em variáveis separadas
quociente, resto = div_qr(21, 5)
print('quociente:', quociente, type(quociente))
print('resto:', resto, type(resto))

resultado: (4, 1) <class 'tuple'>
quociente: 4 <class 'int'>
resto: 1 <class 'int'>

In [72]:
# Verifica se é um divisor inválido (divisor == 0)
def divisor_invalido(divisor):
  if divisor == 0:
    print('ERRO: Divisor igual à zero!')
    return True
  return False
# Retorna o resultado de uma divisão
def div(dividendo, divisor):
  if divisor_invalido(divisor):
    return
  return dividendo / divisor
# Retorna o quociente e o resto de uma divisão
def div_qr(dividendo, divisor):
  if divisor_invalido(divisor):
    return
  quociente = dividendo // divisor
  resto = dividendo % divisor
  return (quociente, resto)

In [73]:
divisor_invalido(-1)

False

In [74]:
divisor_invalido(0)

ERRO: Divisor igual à zero!

True

In [75]:
div(10,5)

2.0

In [76]:
div(10,3)

3.3333333333333335

In [77]:
div(10,0)

ERRO: Divisor igual à zero!

In [78]:
div_qr(10,0)

ERRO: Divisor igual à zero!

In [79]:
div_qr(10,3)

(3, 1)

In [80]:
# calcula a área de um triângulo: (b x h) / 2
def area_triangulo(base, altura):
  return (base * altura)/2
print(area_triangulo(5, 10))

25.0

In [81]:
# calcula a área de um triângulo: (b x h) / 2
def area_triangulo(base, altura):
  return (base * altura)/2
print(area_triangulo(altura=10, base=5))

25.0

In [82]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [83]:
! pip install igpu

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting igpu
  Downloading igpu-0.1.2-py3-none-any.whl (15 kB)
Collecting pynvml (from igpu)
  Downloading pynvml-11.5.0-py3-none-any.whl (53 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.1/53.1 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: psutil in /usr/local/lib/python3.10/dist-packages (from igpu) (5.9.5)
Installing collected packages: pynvml, igpu
Successfully installed igpu-0.1.2 pynvml-11.5.0