<a href="https://colab.research.google.com/github/CarlosMassarelli/CarlosMassarelli/blob/main/XPE_Estudando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Estudos em Python... XPE**

In [ ]:
nome='carlos'
print('olá ', nome, 'seja bem-vindo!')

olá  carlos seja bem-vindo!

In [ ]:
#alguns testes
limiar=5

menores=[]#cria lista menores
maiores=[]#cria lista maiores

#divide os numeros de 1 a 10 em maiores e menores
for i in range(10):
  if (i<limiar):
    menores.append(i)
  elif (i>limiar):
    maiores.append(i)

#imprime valores das listas
print('Resultado final')
print('menores:', menores)
print('maiores:', maiores)

Resultado final
menores: [0, 1, 2, 3, 4]
maiores: [6, 7, 8, 9]

In [ ]:
#codigos diversos
x=4
if x>5:
  x *=2
print (x) #mostra que a identação é significativa.

print('fim')

4
fim

In [ ]:
z='''Veja que coisa interessante
       vamos fazer uma coisa "nova"
       com vários 'tipos' de dados e, várias
               informações'''
print(z)

Veja que coisa interessante
       vamos fazer uma coisa "nova"
       com vários 'tipos' de dados e, várias
               informações

In [ ]:
x=10
print(type(x))

<class 'int'>

In [ ]:
type(x)

int

In [ ]:
y='palavra'
t=3.59
u=True
v=None
print(type(y))
print(type(t))
print(type(u))
print(type(v))

<class 'str'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
x=5
y=1
s='teste'

print('x>y:', x>(y+2))
print('x<=4.564:', x<=(4.564+1))
print('s==teste:', s!='teste')
print('(y*0==false:', (y*0)==False)
print('s!=teste1:', s!='teste1')

x>y: True
x<=4.564: True
s==teste: False
(y*0==false: True
s!=teste1: True

Operador de Acesso das Strings

In [ ]:
palavra='consolação'

#indice positivos
print('VALORES POSITIVOS')
print('primeiro caracter:', palavra[0])
print('segundo caracter:', palavra[1])
print('terceiro caracter:', palavra[2])
print('quarto caracter:', palavra[3])
print('sétimo caracter:', palavra[8])
print('último caracter:', palavra[9])

print('')

#indice negativos
print('VALORES NEGATIVOS')
print('primeiro caracter:', palavra[-10])
print('segundo caracter:', palavra[-9])
print('terceiro caracter:', palavra[-8])
print('quarto caracter:', palavra[-7])
print('sétimo caracter:', palavra[-2])
print('último caracter:', palavra[-1])

print('')

#faixa de itens
print('de 0 a 3:', palavra[0:4])
print('de 7 ao final:', palavra[7:])

VALORES POSITIVOS
primeiro caracter: c
segundo caracter: o
terceiro caracter: n
quarto caracter: s
sétimo caracter: ã
último caracter: o

VALORES NEGATIVOS
primeiro caracter: c
segundo caracter: o
terceiro caracter: n
quarto caracter: s
sétimo caracter: ã
último caracter: o

de 0 a 3: cons
de 7 ao final: ção

In [ ]:
s1 = 'Belo'
s2 = 'Horizonte'
# Concatenação (+)
print(s1 + s2)
print(s1 + ' ' + s2)
print(s1 + ' Monte')
# Repetição
print(s1 * 5)
print((s1 + ', ') * 4)

BeloHorizonte
Belo Horizonte
Belo Monte
BeloBeloBeloBeloBelo
Belo, Belo, Belo, Belo,

In [ ]:
len(palavra)

10

In [ ]:
s1 = 'Belo Horizonte'
s2 = 'Esta é uma frase, com uma vírgula.'
print(s1.upper()) # todas as letras maiúsculas
print(s1.lower()) # todas as letras minúsculas
print(s2.title()) # primeira letra de cada palavra em maísculo
print(s1.replace('Horizonte', 'Monte')) # substitui 'Horizonte' por 'Monte'
print(s1.startswith('Belo')) # verifica se a string começa com 'Belo'
print(s1.endswith('Monte')) # verifica se a string termina com 'Monte'
print(s2.find('frase')) # retorna o índice da primeira ocorrência da palavra frase
print(s2.split()) # particiona a string em outras, que são separadas por um espaço
print(s2.split(',')) # particiona a string em outras, que são separadas por ','
s3 = ' palavra com espaços '
print(s3.strip()) # remove os espaços extras no início e fim da string

BELO HORIZONTE
belo horizonte
Esta É Uma Frase, Com Uma Vírgula.
Belo Monte
True
False
11
['Esta', 'é', 'uma', 'frase,', 'com', 'uma', 'vírgula.']
['Esta é uma frase', ' com uma vírgula.']
palavra com espaços

##Conversão de tipo de dados.

In [ ]:
nascimento=1998
ano_atual=2023
idade=ano_atual-nascimento
print('Eu tenho '+str(idade)+' anos')

Eu tenho 25 anos

In [ ]:
#conversão do tipo int
print(float(10)) # 10.0
print(bool(-1)) # True
print(bool(0)) # False
#conversão do tipo float
print(int(9.999)) # 9
print(bool(-0.99)) # True
print(str(-0.99)) # '-0.99'
#conversão do tipo bool
print(int(True)) # 1
print(float(False)) # 0.0
print(str(True)) # 'True'
#conversão do tipo str
print(int('-99')) # 99
print(float('0.01')) # 0.00001
print(bool('palavra')) # True
print(bool('')) # False

x= 10
print('Valor:', x, '--', type(x))
# atribuição do valor None à variável x
x = None
print('Valor:', x, '--', type(x))

10.0
True
False
9
True
-0.99
1
0.0
True
-99
0.01
True
False
Valor: 10 -- <class 'int'>
Valor: None -- <class 'NoneType'>

In [ ]:
print(f'Eu tenho {idade} anos')

Eu tenho 25 anos

In [ ]:
print(f'Eu tenho {ano_atual-nascimento} anos')

Eu tenho 25 anos

In [ ]:
palavra

'consolação'

In [ ]:
print(f'A palavra {palavra.upper()} possui {len(palavra)} letras')

A palavra CONSOLAÇÃO possui 10 letras

In [ ]:
orcamento = 4005
vlr_gasto = 430
pct = (vlr_gasto/orcamento) * 100
print(f'Porcentagem já gasta do orçamento: {pct:.2f}%')
print(f'Porcentagem já gasta do orçamento: {pct:.2%}')# cuidado com as transformações

Porcentagem já gasta do orçamento: 10.74%
Porcentagem já gasta do orçamento: 1073.66%

##Testes de condição

In [ ]:
# Exemplo em que a condição é verdadeira
idade=16

if idade >=18:
  print('Idade suficiente para CHH!')
else:
  print('Idade não suficiente para CNH!')

Idade não suficiente para CNH!

In [ ]:
# verifica aptidão para se aposentar
idade=50
tempo_contrib=38
if idade>=65:
  print('Habilitado para aposentadoria por idade!')
elif tempo_contrib >=35:
  print('Habilidado para aposentadoria por tempo de contribuição!')
else:
  print('Não hapto para aposentadoria!')

Habilidado para aposentadoria por tempo de contribuição!

Estruturas de repetição

In [ ]:
n=15
soma=0
contador=0

while contador <=n:
  soma+=contador
  contador=contador+1

print(f'A soma dos primeiros {n} inteiros é {soma}')

A soma dos primeiros 15 inteiros é 120

In [ ]:
p='araraquara'
contador=0
for letra in p:
  if letra=='a':
    contador=contador+1
print(f"A palavra{p} possuí {contador} letras'a'")

A palavraararaquara possuí 5 letras'a'

In [ ]:
# 0, 1, 2, 3, 4
range(5)
# 3, 4, 5, 6, 7
range(3, 8)
# 0, 5, 10, 15, 20
range(0, 21, 5)
# 2, 4, 6, 8
range(2, 10, 2)

range(2, 10, 2)

In [ ]:
n=15
soma=0
for num in range(n+1):
  soma=soma+num
print(f'A soma dos primeiros {n} inteiros é {soma}')

A soma dos primeiros 15 inteiros é 120

In [ ]:
# encontra o primeiro número divisível
for num in range(250,301):
  #verifica se o número é divisível por 21
  if num%21==0:
    print(f'Numero encontrado: {num}')
    #se form divisível por 21, interrompe a busca
    break

Numero encontrado: 252
Numero encontrado: 273
Numero encontrado: 294

##Estrutura de Dados...

### LISTAS

In [ ]:
## tipos não-primitivos de dados
# LISTAS

A=[2,3,5,7]
A

[2, 3, 5, 7]

In [ ]:
#Lista com valores heterogêneos
B=[2, 'a', 5.44, True]
B

[2, 'a', 5.44, True]

In [ ]:
# Listas com outras listas dentro (listas aninhadas)
l = [0, 1]
C=[l, 'dois', 'três', [4, 5], 'seis']
C

[[0, 1], 'dois', 'três', [4, 5], 'seis']

In [ ]:
# Lista vazia
l = []
print(l)

[]

In [ ]:
lista = [2, 'a', 5.44, True, None, 'casa']
# acesso por índices
print(lista[0])
print(lista[3])
print(lista[-1])
# acesso por slices
print(lista[1:4])
print(lista[-2:])
print(lista[:])

2
True
casa
['a', 5.44, True]
[None, 'casa']
[2, 'a', 5.44, True, None, 'casa']

In [ ]:
#busca o maior valor dentro de uma lista
# cria uma lista para armazenar as 10 idades
idades = [27, 49, 12, 67, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 18]

#inicia o primeiro como maior idade
#neste caso a iteração irá varrer a lista fazendo uma compraração simples entre os valres
maior_idade = idades[0]

#itera a lista para verificar a maior idade
for idade in idades:
  if idade>maior_idade:
    maior_idade = idade

#exibe a maior idade encontrada
print('Maior idade:',maior_idade)

Maior idade: 84

In [ ]:
#adicionando itens à lista
idades.append(37)
idades

[27, 49, 12, 67, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 18, 37]

In [ ]:
# Altera o valor do quarto e o do penúltimo elemento
idades[3]=13
idades[-2]=19
idades

[27, 49, 12, 13, 21, 32, 18, 45, 84, 53, 22, 56, 80, 35, 19, 37]

In [ ]:
# Remove a primeira ocorrência do elemento 22
idades.append(22)
#para evitar erros inserimos o 22 antes de excluir.
idades.remove(22)
idades

[27, 49, 12, 13, 21, 32, 18, 45, 84, 53, 56, 80, 35, 19, 37]

In [ ]:
idades

[27, 49, 12, 13, 21, 32, 18, 45, 84, 53, 56, 80, 35, 19, 37]

In [ ]:
l1 = [30, 10, 20]
l2 = [2, 'a', 5.44, True]

#operações de concatenação +, repetição * e filiação in
print(l1 + l2)
print(l1 * 3)
print(10 in l1)
print(10 in l2)

[30, 10, 20, 2, 'a', 5.44, True]
[30, 10, 20, 30, 10, 20, 30, 10, 20]
True
False

In [ ]:
# Funções úteis
print(len(l2)) # len: retorna a quantidade de elementos da lista.
print(sum(l1)) # sum: retorna a soma dos elementos de uma lista.
print(max(l1)) # max: retorna o maior elemento da lista (!!!!)

4
60
30

In [ ]:
# Métodos que alteram os valores internos da lista
l2.reverse() # reverse: inverte a ordem dos elementos
print(l2)
l1.extend([10, 20, 30, 40, 10]) # extend: adiciona elementos de outra sequência
print(l1)
l1.sort() # sort: ordena os valores da lista
print(l1)
l2.insert(2, 'novo valor') # insert: adiciona um elemento em um índice especifico
print(l2)
l2.pop() # pop: remove o último elemento da lista
print(l2)
l2.clear() # clear: limpa a lista, removendo todos os elementos
print(l2)

[True, 5.44, 'a', 2]
[30, 10, 20, 10, 20, 30, 40, 10]
[10, 10, 10, 20, 20, 30, 30, 40]
[True, 5.44, 'novo valor', 'a', 2]
[True, 5.44, 'novo valor', 'a']
[]

In [ ]:
# Métodos que retornam valores e não alteram a lista
print(l1.index(40)) # index: retorna o índice da primeira ocorrência do elemento
print(l1.count(10)) # count: conta as ocorrências do elemento

7
3

In [ ]:
#refazendo a busca de forma mais eficiente
print("Elementos da lista 'idade':", format(idades))
print('Maior idade:', max(idades))

Elementos da lista 'idade': [27, 49, 12, 13, 21, 32, 18, 45, 84, 53, 56, 80, 35, 19, 37]
Maior idade: 84

## Tuplas

In [1]:
# Criação de uma tupla homogênea
tupla = (0, 1, 2, 3, 4)
print(tupla)
# Tupla heterogênea
tupla2 = (2, 'a', 5.44, True, None)
print(tupla2)
# Tupla vazia
tupla3 = ()
print(tupla3)
# acesso por índices
print(tupla[0])
print(tupla[3])
print(tupla[-1])
# acesso por slices
print(tupla2[1:4])
print(tupla2[-2:])
print(tupla2[:])

(0, 1, 2, 3, 4)
(2, 'a', 5.44, True, None)
()
0
3
4
('a', 5.44, True)
(True, None)
(2, 'a', 5.44, True, None)

In [2]:
t1 = (30, 10, 20)
t2 = (2, 'a', 5.44, True)
# Operações de concatenação (+), repetição (*) e filiação (in)
print(t1 + t2)
print(t1 * 3)
print(10 in t1)
# Funções úteis
print(len(t2)) # len: retorna a quantidade de elementos da tupla
print(min(t1)) # min: retorna o menor elemento da tupla
print(max(t1)) # max: retorna o maior elemento da tupla
print(sum(t1)) # sum: retorna a soma dos elementos da tupla
# Métodos que retornam valores
print(t1.index(20)) # index: retorna o índice da primeira ocorrência do elemento
print(t2.count('a')) # count: conta as ocorrências do elemento

(30, 10, 20, 2, 'a', 5.44, True)
(30, 10, 20, 30, 10, 20, 30, 10, 20)
True
4
10
30
60
2
1